<div class="container">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" style="margin: 300px auto;">
        <h2 class="secondary">User Form </h2>
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" type="text" class="form-control text-muted" name="name" [(ngModel)]="userSetting.name" #fieldName="ngModel" [class.field-error]="form.submitted && fieldName.invalid" required>
            
            <div [hidden]="!form.submitted || fieldName.valid" class="aler alert-danger">
                Enter Full Name
            </div>
        </div>
       
        
        <div class="form-group">
            <label for="email">Email</label>
            <input id="name" type="email" class="form-control text-muted" name="email" [(ngModel)]="userSetting.email" #fieldEmail="ngModel" [class.field-error]="form.submitted && fieldEmail.invalid" required>
            
            <div [hidden]="!form.submitted || fieldEmail.valid" class="aler alert-danger">
                Enter Email
            </div>
        </div>

        <button class="btn btn-primary">Submit</button>

    </form>
</div>

<p></p>
<p></p>